<!DOCTYPE html>
 <html>
   <head>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="../styles/materialize.min.css"  media="screen,projection"/>

     <!-- Your CSS file -->
     <link href="../styles/homepage.css" type="text/css" rel="stylesheet" media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body>
     <nav class="white" role="navigation">
         <div class="nav-wrapper container">
           <a id="logo-container" href="#" class="brand-logo">
             <img height="60px" width="60px" src="https://csusmcougars.com/images/logos/site/site.png" alt="smLogo">
          </a>
           <ul class="right hide-on-med-and-down">
             <li><input type="submit" onclick="location.href='/';" value="Log in" /></li>
           </ul>

           <ul id="nav-mobile" class="sidenav">
             <li><a href="#">Cougar Link</a></li>
           </ul>
           <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         </div>
       </nav>

       <div id="index-banner" class="parallax-container">
         <div class="section no-pad-bot">
           <div class="container">
             <br><br>
             <h1 class="header center teal-text text-lighten-2" style="color:#2c6ed5;">Cougar Mingle</h1>
             <div class="row center">
               <h5 class="header col s12 light">Where Cougars Unite</h5>
             </div>
             <div class="row center">
               <form method=POST action="/signUp">
                 <input type="submit" value="Paw Together!">
               </form>

               <!-- <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Paw Together</a> -->

             </div>
             <br><br>

           </div>
         </div>
         <div class="parallax"><img src="https://www.csusm.edu/advancement/images/sunrise_from_mcmahan.jpg" alt="Unsplashed background img 1"></div>
       </div>


       <div class="container">
         <div class="section">

           <!--   Icon Section   -->
           <div class="row">
             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                 <h5 class="center">Make Friends</h5>

                 <p class="light">In need of friends? You came to the right place to find some friends around the campus of Cal State San Marcos, where people are looking for some friends to start a connection with and expand from a variety of friends.</p>
               </div>
             </div>

             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                 <h5 class="center">Make Experiences</h5>

                 <p class="light">By using CougarMingle we can guarentee an experience to be remembered, there shall be no ads as well as great customer support to ensure you have a great experinece while using our website while making new friends.</p>
               </div>
             </div>

             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                 <h5 class="center">Make Memories</h5>

                 <p class="light">We are the matchmakers. Based on your interests, we connect you with people of similar interest to ensure non awkward interaction.</p>
               </div>
             </div>
           </div>

         </div>
       </div>


       <div class="parallax-container valign-wrapper">
         <div class="section no-pad-bot">
           <div class="container">
             <div class="row center">
               <h5 class="header col s12 light"></h5>
             </div>
           </div>
         </div>
         <div class="parallax"><img src="https://www.csusm.edu/tukwutlife/images/student-life.jpg" alt="Unsplashed background img 2"></div>
       </div>

       <div class="container">
         <div class="section">

           <div class="row">
             <div class="col s12 center">
               <h3><i class="mdi-content-send brown-text"></i></h3>
               <h4>To Be Decided</h4>
               <p id = "cougars" class="left-align light">Highest % of cougar members of any mingling site and number one website for finding friends on CSUSM! </p>
             </div>
           </div>

         </div>
       </div>


       <div class="parallax-container valign-wrapper">
         <div class="section no-pad-bot">
           <div class="container">
             <div class="row center">
               <h5 class="header col s12 light"></h5>
             </div>
           </div>
         </div>
         <div class="parallax"><img src="https://www.boardmasters.com/images/uploads/Sunset5_Alex_Rawson_Photography.jpg" alt="Unsplashed background img 3"></div>
       </div>

       <footer class="page-footer teal">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Company Bio</h5>
               <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


             </div>
             <div class="col l3 s12">
               <h5 class="white-text">Settings</h5>
               <ul>
                 <li><a class="white-text" href="#!">Terms of Service</a></li>
                 <li><a class="white-text" href="#!">Privacy</a></li>
                 <li><a class="white-text" href="#!">About Us</a></li>
                 <li><a class="white-text" href="#!">Jobs</a></li>
               </ul>
             </div>
             <div class="col l3 s12">
               <h5 class="white-text">Connect</h5>
               <ul>
                 <li><a class="white-text" href="#!">Facebook</a></li>
                 <li><a class="white-text" href="#!">Instagram</a></li>
                 <li><a class="white-text" href="#!">Twitter</a></li>
                 <li><a class="white-text" href="#!">MySpace</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
           </div>
         </div>
       </footer>

       <!--  Scripts-->
       <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="../js/materialize.min.js"></script>
       <script src="../js/homepage.js"></script>
   </body>
 </html>
