
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="../styles/signUp.css">
    <title>Sign In</title>
  </head>
    <body>
      <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
       <div class="wrapper wrapper--w680">
         <div class="card card-1">
           <div class="card-body">
            <img id="coug" height="150px" width="150px" src="../images/COGAR-MINGLE-LOGO.png" alt="cougargif">
             <!-- <h3 class="cougar-mingle">Cougar Mingle</h3> -->
             <br>
             <br>
             <br>
             <h2 class="title">Sign In</h2>
             <form method="POST">
               <div class="input-group">
                 <input type="email" placeholder="Enter Email address" name = "uname">
               </div>
               <div class="input-group">
                 <input type="password" placeholder="Enter Password" name = "psw" required>
               </div>
               <div class="container" id="remember">
                 <h5>Remember Me</h5>
                 <input type="checkbox" value="remember-me"></input>
               </div>
               <div class="p-t-20">
                 <input type="submit" value="Go!">
               </div>
             </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
