<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <!-- <img class="cougarGif" src="https://media1.giphy.com/media/1zlDnwCxT9vWmwcBhd/source.gif" alt="" width="72" height="72"> -->
    <img height="100px" width="150px" src="https://media1.giphy.com/media/1zlDnwCxT9vWmwcBhd/source.gif" alt="cougargif">
    <h2>please sign up</h2>
    <form method=POST action="/userresult">

      <label><b>First Name</b></label>
      <input type="text" name="user-first-name" placeholder="Enter First Name" required>
      <br>
      <label><b>Last Name</b></label>
      <input type="text" name="user-last-name" placeholder="Enter Last Name" required>
      <br>
      <label><b>Email</b></label>
      <input type="text" name="user-email-address" placeholder="Enter Email" required>
      <br>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
