<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Title</h1>
    <!-- <img class="cougarGif" src="https://media1.giphy.com/media/1zlDnwCxT9vWmwcBhd/source.gif" alt="" width="72" height="72"> -->
    <img height="100px" width="150px" src="https://media1.giphy.com/media/1zlDnwCxT9vWmwcBhd/source.gif" alt="cougargif">
    <h2>please sign up</h2>
    <form method=POST action="/userresult">

      <label><b>First Name</b></label>
      <input type="text" name="user-first-name" placeholder="Enter First Name" required>
      <br>
      <label><b>Last Name</b></label>
      <input type="text" name="user-last-name" placeholder="Enter Last Name" required>
      <br>
      <label><b>Email</b></label>
      <input type="text" name="user-email-address" placeholder="Enter Email" required>
      <br>
      <input type="submit" value="Go!">
    </form>
    <div class="container">
      <h1 class="title">Select your favorite hobbies</h1>
      <button type="button" class="button" >Biking</button>
      <button type="button" class="button" >Cars</button>
      <button type="button" class="button" >Cooking</button>
      <button tyoe="button" class="button" >Painting</button>
      <button tyoe="button" class="button" >Reading</button>
      <button type="button" class="button" >Running</button>
      <button type="button" class="button" >Video Games</button>
    </div>

    <div class="container">
        <h1 class="title">Select your favorite music generes</h1>
        <button type="button" class="button" >Hip-Hop</button>
        <button type="button" class="button" >Rock</button>
        <button type="button" class="button" >Pop</button>
        <button type="button" class="button" >Dance / Electronic</button>
        <button type="button" class="button" >I dont like music</button>
    </div>

    <div class="container">
        <h1 class="title">Select your favorite sports</h1>
        <button type="button" class="button" >Baseball</button>
        <button type="button" class="button" >Basketball</button>
        <button type="button" class="button" >Football</button>
        <button type="button" class="button" >Golf</button>
        <button type="button" class="button" >Hockey</button>
        <button type="button" class="button" >I dont like sports</button>
    </div>

    <div class="container">
        <h1 class="title">Select your favorite TV / Movie generes</h1>
        <button type="button" class="button" >Action</button>
        <button type="button" class="button" >Comedy</button>
        <button type="button" class="button" >Drama</button>
        <button type="button" class="button" >Horror</button>
        <button type="button" class="button" >Superhero</button>
        <button type="button" class="button" >I dont like TV or movies</button>
    </div>

  </body>
</html>
