<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>

    <div style="text-align:center;">
     <img src="http://cdn.onlinewebfonts.com/svg/img_568656.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
     <h3 class="media-heading">{{user_name}}</h3>
               <span><strong> Interests: </strong></span>
               <button class="w3-tag w3-round w3-green w3-border w3-border-white">HTML5/CSS</button>
               <button class="w3-tag w3-round w3-green w3-border w3-border-white">Adobe CS 5.5</button>
               <button class="w3-tag w3-round w3-green w3-border w3-border-white">Microsoft Office</button>
               <button class="w3-tag w3-round w3-green w3-border w3-border-white">Windows XP, Vista, 7</button>
   <hr>
   <center>
   <p class="text-left"><strong> Bio: </strong><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
     <br>
     </center>
     </div>

  </body>
</html>
