/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 button {
   outline: none;
   background: none;
   border: none;
 }

 input[type=submit] {
   width: 100%;
   background-color: #2c6ed5;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 input[type=submit]:hover {
   background-color: #1F4C93;
}

#cougmingle {
  color: #2c6ed5;
}

nav ul a,
nav .brand-logo {
  color: #0076EC;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #0076EC;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#cougars {
  font-size: 35px;
  font-style: italic;
}
