<!-- Gaby's Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="..\cssiStyle\style.css">
    <title>Sign In</title>
  </head>
  <body class="text-center">
    <form class="form-signin">
      <img class="cougarGif" src="https://media1.giphy.com/media/1zlDnwCxT9vWmwcBhd/source.gif" alt="" width="72" height="72">
      <h1 >Please sign in</h1>
      <label for="inputEmail">Email address</label>
      <input type="email" placeholder="Enter Email address" name = "uname">
      <br><br>
      <label for="inputPassword">Password</label>
      <input type="password" placeholder="Enter Password" name = "psw" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
  <button class="signInButton" type="submit">Sign In</button>
  </form>
</body>
</html>
