<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../cssiStyle/surveyPage.css">
    </link>
    <title>Cougar Mingle</title>
  </head>
<body>
<div class="container">
    <h1 class="title">Select your favorite music generes</h1>
    <input type="button" id="button" value = "Country" style= "color:black" onclick="setColor('button', '#101010')";/>
    <input type="button" id="button" value = "Hip-Hop" style= "color:black" onclick="setColor('button', '#101010')";/>
    <input type="button" id="button" value = "Rock & Roll" style= "color:black" onclick="setColor('button', '#101010')";/>
    <input type="button" id="button" value = "Dance / Electronic" style= "color:black" onclick="setColor('button', '#101010')";/>

    <h1 class="title">Select your favorite...</h1>
    <button type="button" class="button" id="country">---</button>
    <button type="button" class="button" id="hip-hop">---</button>
    <button type="button" class="button" id="rock-roll">---</button>
    <button type="button" class="button" id="dance-electronic">---</button>
  </div>
<script type="text/javascript" src="../js/surveypage.js">
</script>
</html>
