<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cougar Mingle</title>
    <link rel="stylesheet" type="text/css" href="surveyPage.css" />
</head>
  <body>
    <h1>Survey</h1>
    <div class="container">
 <form action="action_page.php">
   <div class="row">
     <div class="col-25">
       <label for="fname">First Name</label>
     </div>
     <div class="col-75">
       <input type="text" id="fname" name="firstname" placeholder="First Name">
     </div>
   </div>
   <div class="row">
     <div class="col-25">
       <label for="lname">Last Name</label>
     </div>
     <div class="col-75">
       <input type="text" id="lname" name="lastname" placeholder="Last Name">
     </div>
   </div>
   <div class="row">
     <div class="col-25">
       <label for="Major">Major</label>
     </div>
     <div class="col-75">
       <select id="Major" name="Major">
         <option value="accounting">Accounting</option>
         <option value="AIS">American Indian Studies</option>
         <option value="Anthropology">Anthropology</option>
         <option value="AMD">Art, Media, and Design</option>
         <option value="appliedPhysics">Applied Physics</option>
         <option value="Biochemistry">Biochemistry</option>
         <option value="Biological Sciences">Biological Sciences</option>
         <option value="Biotechnology">Biotechnology</option>
         <option value="Chemistry">Chemistry</option>
         <option value="CAD">Child & Adolescent Development</option>
         <option value="Communication">Communication</option>
         <option value="Computer Science">Computer Science</option>
         <option value="CJS">Criminology & Justice Studies</option>
         <option value="Economics">Economics</option>
         <option value="Engineering">Engineering</option>
         <option value="Ethnic Studies">Ethnic Studies</option>
         <option value="Finance">Finance</option>
         <option value="Global Business">Global Business</option>
         <option value="GSCM">Global Supply Chain Management</option>
         <option value="Global Studies">Global Studies</option>
         <option value="History">History</option>
         <option value="Human Development">Human Development</option>
         <option value="Liberal Studies">Liberal Studies</option>
         <option value="Literature & Writing Studies">Literature & Writing Studies</option>
         <option value="Management">Management</option>
         <option value="Management Information Systems">Management Information Systems</option>
         <option value="Marketing">Marketing</option>
         <option value="Mathematics">Mathematics</option>
         <option value="Media Studies">Media Studies</option>
         <option value="Music">Music</option>
         <option value="Nursing">Nursing</option>
         <option value="Political Science">Political Science</option>
         <option value="Psychological Science">Psychological Science</option>
         <option value="Social Sciences">Social Sciences</option>
         <option value="Sociology">Sociology</option>
         <option value="Spanish">Spanish</option>
         <option value="Speech-language Pathology">Speech-language Pathology</option>
         <option value="Theatre">Theatre</option>
         <option value="Undeclared">Undeclared</option>
         <option value="WGSS">Women's, Gender and Sexuality Studies</option>
       </select>
     </div>
   </div>
   <div class="row">
     <input type="submit" value="Submit">
   </div>
 </form>
</div>
  </body>
</html>
