<<<<<<< HEAD
.bigdiv{
  display:grid;
  grid-template-rows: 70px 50px repeat(8 , 1fr) 50px 100px
}
.name{
  grid-row-start: 1;
  grid-row-end:2;
=======
body {
  text-align: center;
}
/* Bordered form */
form {
 border: 3px solid #f1f1f1;
}

/* Set a style for all buttons */
button {
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 10%;
}

/* Add a hover effect for buttons */
button:hover {
 opacity: 0.8;
>>>>>>> 587c8ea8f6569f1f92d629ab73d75ed16ea0aca6
}
