.container {
  display: grid;
  grid-template-columns: 1, repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
 .button {
  border: 5px solid white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.title {
  grid-row: 1, span 1;
}
